@import "variables";
@import "mixin";
@import "global";

.photo-upload-container{
  height: 150px;
  width: 150px;
  border: 1px solid silver;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  background: blueviolet;

  .icon{
    @include center;
     color: white;
    cursor: pointer;
    @include transition;

    .fa-camera{
      &:hover{
        transform: scale(1.3);
      }
    }

  }
}
.primary-photo{
  border: 2px solid violet;
  &:after{
    content: 'Primary';
  }
}
.preview-photo{
  cursor: pointer;
}

.quantity-button{
  border: none;
  background: blue;
  border-radius: 5px;
  padding: 0 8px;
  color: white;
  margin: 0 10px;
  &:disabled{
    background: #9cbdea;
  }
}
.product-container{
  background: #f4e8ff;
  border-radius: 5px;
  margin: 5px 0;
}

.barcode-wrapper{
   box-shadow: 0 0 10px silver;
   margin: 25px auto 25px auto;
  width: 595px;
  height: 842px;
}
.print-area{
  padding: 36px;
  display: flex;
  flex-wrap: wrap;
  .barcode-items{
    width: 33.33%;
    padding: 18px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #e7e2e2;
    height: fit-content;
  }

}
.deleted{
  color: red;
  text-decoration: line-through;
  font-size: 12px;
}

.report-card{
  box-shadow:0 0 5px silver;
  @include transition;
  &:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  h6{
    font-weight: 100;
  }
}


